<html>
	<head>
		<script src = "/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	</head>
	<body> 
	<!-- <input type="text" ng-model="text" placeholder="input message to send" class="message"></input>
	<button ng-click="send()" class="btn">send</button> -->
	<script> 
	var socket = io.connect();
	socket.on('date' , function(data){
	//console.log(data.message);
	//document.getElementById('message').innerHTML = data.message;
	$('#date').text(data.date);
	});
	
	$(document).ready(function(){
    //$('#text').on('keypress', (function(e){
	$('#text').keypress(function(e){
			//var keycode = event.which;
			//alert ($(this).val());
			
      socket.emit('client_data', {'letter': String.fromCharCode(e.which)});
	  //setTimeout(function() { console.log($('#text').val()) }, 5)
    });
  });
  	</script>
	
	<div> This is our socket.html file <div>
	<div id="date"></div>
	<textarea id="text"></textarea>
	</body>
</html>

